:root {
    --amarelo: #FFD100;
    --azul-claro: #2196D7;
    --azul-escuro: #091C43;
    --azul-marinho: #102E66;
    --azul-medio: #0055A4;
    --amendoa-clara: #EEE5DA;
    --dourado: #D6C67E;
    --carvao-profundo: #262424;
    --rosa-claro: #E7ADCF;
    --roxo: #2E1A47;
    --verde: #009639;
    --vermelho: #fda59f;
}