:root {
    --amarelo: #FFD100;
    --azul-claro: #2196D7;
    --azul-escuro: #091C43;
    --azul-marinho: #102E66;
    --azul-medio: #0055A4;
    --branco: #ffff;
    --dourado: #D6C67E;
    --preto: #000;
    --rosa-claro: #E7ADCF;
    --roxo: #2E1A47;
    --verde: #009639;
    --vermelho: #EF4135;
    --bg-claro: #ffff;
    --texto-claro: #1e1e1e;
    --bg-escuro: #1e1e1e;
    --texto-escuro: #f5f5f5;
}